
@font-face {
    font-family: "SFUIText_SB";
    src: url("../fonts/SF-UI-Text-Semibold.otf");
}

@font-face {
    font-family: "SFUIText_B";
    src: url("fonts/SF-UI-Text-Bold.otf");
}

@font-face {
    font-family: "SFUIText_MD";
    src: url("../fonts/SF-UI-Text-Medium.otf");
}

@font-face {
    font-family: "SFUIText_RG";
    src: url("../fonts/SF-UI-Text-Regular.otf");
}

@font-face {
    font-family: "SFUIText_SB";
    src: url("../fonts/SF-UI-Text-Semibold.otf");
}

@font-face {
    font-family: "AlmostaHero-Ult";
    src: url("../fonts/AlmostaHero-Ult.ttf");
}

body {
    background-color: #f8f6f7;
    background-image: url('/Images/bg_main.gif');
    background-repeat: repeat-x;
    font-family: "SFUIText_SB";
    padding: 0px;
    margin: 0px;
}

a:hover, a:active {
    color: #fbc125;
    text-decoration: none;
}
