<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Lizay.dll.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Lizay.dll.Properties.Settings.ConnectionString" connectionString="Data Source=178.18.196.230;Initial Catalog=LizayDB;Persist Security Info=True;User ID=BtAdmin;Password=Bt#2019" />
  </connectionStrings>
  <applicationSettings>
    <Lizay.dll.Properties.Settings>
      <setting name="Lizay_dll_CaniasWS_iasWebServiceImplService" serializeAs="String">
        <value>http://176.236.6.140:8080/CaniasWS-v1/services/iasWebService</value>
      </setting>
    </Lizay.dll.Properties.Settings>
  </applicationSettings>
</configuration>