<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <appSettings>
    <add key="IosCerPass" value="#lizay2018!" />
    <add key="IosTeacherCerPass" value="#lizay2018!" />
    <add key="IosManagerCerPass" value="#lizay2018!" />
    <add key="GoogleKeyForParent" value="AIzaSyCdMWnzLvVqA18cTTjC2NEJBXLYmIq9toM" />
    <add key="GoogleKeyForTeacher" value="AIzaSyCdMWnzLvVqA18cTTjC2NEJBXLYmIq9toM" />
    <add key="GoogleKeyForManager" value="AIzaSyCdMWnzLvVqA18cTTjC2NEJBXLYmIq9toM" />

    <add key="FromMailAdress" value="lizay@btkurumsal.xyz" />
    <add key="ToMailAdress" value="cagatayserbes@lizay.com.tr;ibrahimyilmaz@lizay.com.tr;berkan@btkurumsal.com.tr" />
    <!--<add key="ToMailAdress" value="grkncelik@hotmail.com" />-->
    <add key="Credentials" value="lizay@btkurumsal.xyz" />
    <add key="CredentialsPass" value="KRjf18E2" />
    <add key="Port" value="587" />
    <add key="Host" value="mail.btkurumsal.xyz" />

  </appSettings>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
    web.config değişikliklerinin açıklaması için http://go.microsoft.com/fwlink/?LinkId=235367 adresini inceleyin.

    Aşağıdaki öznitelikler <httpRuntime> etiket üzerinde ayarlanabilir.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <authentication mode="Forms">
      <forms loginUrl="~/login.aspx" timeout="50000000" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>